<div
  class="hero w-11/12 mx-auto rounded-lg min-h-screen bg-base-200 bg-gradient-to-r from-blue-200 to-green-100"
>
  <div class="hero-content flex-col lg:flex-row">
    <div class="flex flex-col">
      <div class="lg:mt-0 md:mt-24 mt-10 lg:ml-56">
        <h2 class="text-4xl font-bold">
          Welcome to <span class="text-[#78C653]">RxLocate</span> <br />
          Login Portal
        </h2>
      </div>
      <div class="lg:mt-10">
        <ng-lottie
          [options]="options"
          [styles]="styles"
          (animationCreated)="animationCreated($event)"
        />
      </div>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            type="email"
            placeholder="email"
            class="input input-bordered"
            formControlName="email"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input input-bordered"
            formControlName="password"
            required
          />
        </div>
        <div class="form-control mt-6">
          <button class="btn bg-sky-500 text-white">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
