<div class="hero mx-auto rounded-lg min-h-screen bg-[#f2f6fc]">
  <div class="hero-content flex-col lg:flex-row">
    <div class="flex flex-col">
      <div class="lg:mt-0 md:mt-24 mt-10 lg:ml-56">
        <h2 class="text-4xl font-bold">
          Welcome to <span class="text-[#78C653]">RxLocate</span> <br />
          Login Portal
        </h2>
      </div>
      <div class="lg:mt-10" data-aos="zoom-in">
        <ng-lottie
          [options]="options"
          [styles]="styles"
          (animationCreated)="animationCreated($event)"
        />
      </div>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input
            type="text"
            placeholder="username"
            class="input input-bordered"
            formControlName="username"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input input-bordered"
            formControlName="password"
            required
          />
        </div>
        <div class="form-control mt-6">
          <button
            class="btn bg-sky-500 text-white hover:bg-sky-600 hover:text-white"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
