.map-container {
  /*height: 400px;*/
}

#map {
  height: 70vh;
  width: 100%;
  margin: auto;
}
@media only screen and (max-width: 425px) {
  .map-container {
    height: auto;
  }

  #map {
    height: 700px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .map-container {
    height: auto;
  }

  #map {
    height: 500px;
    width: 100%;
  }
}
