.map-container {
  height: 400px;
}

#map {
  height: 159%;
  width: 100%;
}
@media only screen and (max-width: 425px) {
  .map-container {
    height: auto;
  }

  #map {
    height: 700px;
    width: 100%;
  }
}
