<div
  class="bg-[#f2f6fc] flex flex-col items-center justify-center min-h-screen mx-auto"
>
  <h1 class="text-3xl font-semibold mb-8">Meet the Team</h1>
  <div class="flex lg:flex-row flex-col gap-8 m-2">
    <div
      class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center w-96"
    >
      <img
        class="w-32 h-32 rounded-full mb-4"
        src="assets/farhan.jpg"
        alt="Backend Developer Avatar"
      />
      <h2 class="text-lg font-semibold mb-2">Farhan Ahmed</h2>
      <p class="text-gray-600">Software Engineer (Backend)</p>
    </div>

    <div
      class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center w-96"
    >
      <img
        class="w-32 h-32 rounded-full mb-4"
        src="assets/jack.jpg"
        alt="Frontend Developer Avatar"
      />
      <h2 class="text-lg font-semibold mb-2">Jack Pritom Soren</h2>
      <p class="text-gray-600">Software Engineer (Frontend)</p>
    </div>

    <div
      class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center w-96"
    >
      <img
        class="w-32 h-32 rounded-full mb-4"
        src="assets/roney.jpg"
        alt="Backend Developer Avatar"
      />
      <h2 class="text-lg font-semibold mb-2">Md. Hashibur Rahman Roney</h2>
      <p class="text-gray-600">Software Engineer (Backend)</p>
    </div>
  </div>
</div>
