<div class="navbar h-3 bg-[#f2f6fc] mx-auto">
  <div class="flex-1">
    <img
      routerLink="/"
      src="../assets/home-logo.png"
      class="w-12 p-2"
      alt="home logo"
    />
    <a class="btn btn-ghost text-xl" routerLink="/">RxLocate</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li *ngIf="isLoggedIn()"></li>
      <li *ngIf="!isLoggedIn()">
        <a routerLink="/" class="font-bold my-auto m-2">Home</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <!-- Show Logout button if user is logged in -->
        <button
          class="border-none font-bold flex justify-center bg-red-300 text-black lg:w-20 lg:h-9 rounded-lg shadow-md hover:bg-red-400 hover:text-white"
          (click)="logout()"
        >
          Logout
        </button>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a
          [routerLink]="['login']"
          class="border-none font-bold flex justify-center bg-green-300 text-black lg:w-20 h-9 rounded-lg shadow-md hover:bg-green-400 hover:text-white"
        >
          Login
        </a>
      </li>
    </ul>
  </div>
</div>
