<div class="w-full mx-auto rounded-lg pt-14 bg-[#f2f6fc]">
  <h2 class="text-4xl font-bold w-40 mx-auto">Features</h2>
  <div class="border-t-4 border-gray-400 max-w-[1800px] mx-auto mt-5"></div>

  <!--  upper feature -->
  <div
    class="mt-10 flex lg:flex-row flex-col lg:px-36 px-4"
    data-aos="zoom-in-up"
  >
    <div class="lg:w-1/2 w-full mb-8 lg:mb-0 flex justify-center">
      <img
        class="rounded-lg w-3/4 md:w-1/2"
        src="../../../../assets/feature1.png"
        alt="feature1"
      />
    </div>
    <div class="lg:w-1/2 w-full my-auto lg:pl-10">
      <h2 class="text-3xl md:text-5xl font-bold">
        Effortless Location Search:
      </h2>
      <p class="text-lg md:text-xl mt-5">
        Quickly find marking points on the map that show which locations have
        prescribed which medicines and how many times.
      </p>
    </div>
  </div>

  <!--  middle feature -->
  <div
    class="mt-10 flex lg:flex-row flex-col lg:px-36 px-4"
    data-aos="zoom-in-up"
  >
    <div class="lg:w-1/2 w-full my-auto lg:pr-10 order-2 lg:order-1">
      <h2 class="text-3xl md:text-5xl font-bold">
        Comprehensive Drug and Division Insights:
      </h2>
      <p class="text-lg md:text-xl mt-5">
        Use the drug search feature to see a list of divisions, detailing how
        many times each doctor has prescribed a specific drug. With the drug and
        division search, view district data on a map, showing which doctors
        prescribed which medications based on division.
      </p>
    </div>
    <div
      class="lg:w-1/2 w-full mb-8 lg:mb-0 order-1 lg:order-2 flex justify-center"
    >
      <img
        class="rounded-lg w-3/4 md:w-1/2"
        src="../../../../assets/feature2.png"
        alt="feature2"
      />
    </div>
  </div>

  <!--  lower feature -->
  <div
    class="mt-10 flex lg:flex-row flex-col lg:px-36 px-4"
    data-aos="zoom-in-up"
  >
    <div class="lg:w-1/2 w-full mb-8 lg:mb-0 flex justify-center">
      <img
        class="rounded-lg w-3/4 md:w-1/2"
        src="../../../../assets/feature3.png"
        alt="feature3"
      />
    </div>
    <div class="lg:w-1/2 w-full my-auto lg:pl-10">
      <h2 class="text-3xl md:text-5xl font-bold">
        Detailed Medicine Data and Downloads:
      </h2>
      <p class="text-lg md:text-xl mt-5">
        Access comprehensive data on each medicine, including details of
        prescriptions by doctors. Download this data as an Excel file for
        streamlined analysis and reporting.
      </p>
    </div>
  </div>
</div>
