<div
  class="w-11/12 mx-auto rounded-lg mt-10 mb-5 pt-14 bg-gradient-to-r from-blue-50 to-green-50"
>
  <h2 class="text-4xl font-bold w-40 mx-auto">Features</h2>
  <div class="border-t-4 border-gray-400 max-w-[1800px] mx-auto mt-5"></div>

  <!--  upper feature -->
  <div class="mt-10 flex lg:flex-row flex-col lg:pl-36" data-aos="zoom-in-up">
    <div class="lg:w-1/2">
      <img
        class="rounded-lg"
        src="../../../../assets/feature1.png"
        alt="feature1"
      />
    </div>
    <div class="lg:w-[700px] my-auto pl-5">
      <h2 class="text-5xl font-bold">Effortless Location Search:</h2>
      <p class="text-xl mt-5 w-auto">
        Quickly find marking points on the map that show which locations have
        prescribed which medicines and how many times.
      </p>
    </div>
  </div>

  <!--  middle feature-->
  <div class="mt-10 flex lg:flex-row flex-col lg:pl-36" data-aos="zoom-in-up">
    <div class="lg:w-1/2 my-auto pl-5">
      <h2 class="text-5xl font-bold">
        Comprehensive Drug and Division Insights:
      </h2>
      <p class="text-xl mt-5 w-auto">
        Use the drug search feature to see a list of divisions, detailing how
        many times each doctor has prescribed a specific drug. With the drug and
        division search, view district data on a map, showing which doctors
        prescribed which medications based on division.
      </p>
    </div>
    <div class="lg:w-[700px] lg:ml-20">
      <img
        class="rounded-lg"
        src="../../../../assets/feature2.png"
        alt="feature2"
      />
    </div>
  </div>

  <!--  lower feature-->
  <div class="mt-10 flex lg:flex-row flex-col lg:pl-36" data-aos="zoom-in-up">
    <div class="lg:w-1/2">
      <img
        class="rounded-lg mb-5"
        src="../../../../assets/feature3.png"
        alt="feature3"
      />
    </div>
    <div class="lg:w-[700px] my-auto pl-5">
      <h2 class="text-5xl font-bold">Detailed Medicine Data and Downloads:</h2>
      <p class="text-xl mt-5 w-auto">
        Access comprehensive data on each medicine, including details of
        prescriptions by doctors. Download this data as an Excel file for
        streamlined analysis and reporting.
      </p>
    </div>
  </div>
</div>
