<div class="bg-[#f2f6fc] shadow-xl rounded-l-lg h-[70vh] lg:p-4 p-4 rounded-lg">
  <!-- icon with text -->
  <div></div>
  <!-- location -->
  <div class="mb-5">
    <p class="text-sm">Showing Result for</p>
    <!--    showing results-->
    <p class="font-bold">Dhaka,Ace 500mg</p>

    <div class="mt-5 flex flex-row gap-16">
      <div>
        <p>Prescribed by</p>
        <p><span class="font-bold text-lg">359</span> Doctors</p>
      </div>
      <div>
        <p>Total Quantity</p>
        <p><span class="font-bold text-lg">2,86,76</span> (pieces)</p>
      </div>
    </div>
  </div>

  <!--  table of data info-->
  <div class="bg-white h-auto w-12/12 mx-auto rounded-lg">
    <p class="p-2 text-sm">Most Prescribed at (top-10)</p>
    <!--    list of data-->
    <div class="p-2">
      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Banani</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>

      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Gulshan-1</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>

      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Mohammadpur</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>

      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Vatara</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>

      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Mirpur-1</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>

      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Kolabagan</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>

      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Mohakhali</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>

      <div class="flex flex-row justify-between border-b-2 mb-2">
        <p>Rampura</p>
        <p><span class="font-bold">79</span> Doctors</p>
      </div>
    </div>
  </div>
</div>
