@if (fullData) {
  <div class="bg-[#f2f6fc] h-[70vh] p-10">
    <div></div>
    <!-- location -->
    <div class="mb-5" data-aos="zoom-in">
      <div class="flex flex-row justify-between mx-auto my-auto">
        <p class="text-sm">Showing Result for</p>
        <img
          src="assets/download.svg"
          alt="download button"
          class="w-7 bg-[#00A96E] rounded-lg cursor-pointer"
          (click)="downloadClick()"
        />
      </div>
      <!-- showing results -->
      @if (fullData) {
        <div>
          <div class="items-center mt-2">
            <span class="flex items-center">
              <h1>
                Drug:
                <span class="font-bold mr-2">{{ fullData[0].drugName }} </span>
              </h1>
              <p-button
                (click)="showDrugDialog()"
                [style]="{
                  backgroundColor: '#00A96E',
                  color: 'white',
                  display: 'flex',
                  alignItems: 'center'
                }"
              >
                <img
                  src="assets/info.png"
                  alt="Medicine Icon"
                  style="width: 25px; height: 25px"
                />
              </p-button>
            </span>
            <p class="mr-2 mt-5">
              @if (fullData[0].districtId) {
                <h1>
                  Location:
                  <span class="font-bold">{{ fullData[0].divisionName }}</span>
                </h1>
              }
              @if (fullData[0].areaId) {
                <h1>
                  Location:
                  <span class="font-bold">{{ fullData[0].areaName }}</span>
                </h1>
              }
            </p>
          </div>
        </div>
      }

      <div class="mt-5 flex flex-row gap-16">
        <div>
          <p>Prescribe Count</p>
          <p>
            <span class="font-bold text-lg">{{ totalPrescriptionCount }}</span>
            (times)
          </p>
        </div>
      </div>
    </div>
    <!-- table of data info -->
    @if (fullData.length > 0) {
      <div
        class="bg-white h-[calc(70vh - 200px)] w-12/12 mx-auto rounded-lg"
        data-aos="zoom-in"
      >
        <p class="p-2 text-sm border-solid border-2 border-gray-200">
          Most Prescribed
        </p>
        <!-- list of data -->
        <div
          class="p-2 overflow-y-auto max-h-[30vh]"
          *ngFor="let data of fullData"
        >
          @if (data.divisionId) {
            <div
              class="flex flex-row justify-between border-b-2 mb-2 cursor-pointer hover:bg-gray-200"
              (click)="onLocationClick(data.divisionName)"
            >
              <p>
                {{ data.divisionName }}
              </p>

              <p>
                <span class="font-bold">{{ data.prescriptionCount }}</span>
                Counts
              </p>
            </div>
          }
          @if (data.districtId) {
            <div
              class="flex flex-row justify-between border-b-2 mb-2 cursor-pointer hover:bg-gray-200"
              (click)="onDistrictClick(data.districtName)"
            >
              <p>
                {{ data.districtName }}
              </p>

              <p>
                <span class="font-bold">{{ data.prescriptionCount }}</span>
                Counts
              </p>
            </div>
          }
          @if (data.areaId) {
            <div
              class="flex flex-row justify-between border-b-2 mb-2 cursor-pointer hover:bg-gray-200"
            >
              <p>
                {{ data.areaName }}
              </p>

              <p>
                <span class="font-bold">{{ data.prescriptionCount }}</span>
                Counts
              </p>
            </div>
          }
        </div>
      </div>
    } @else if (fullData.length < 1) {
      <div>No Data</div>
    }

    <p-button
      (click)="showDoctorDialog()"
      label="Doctor Information"
      class="ml-2"
      [style]="{
        padding: '5px',
        height: '35px',
        marginTop: '10px',
        backgroundColor: '#00A96E',
        color: 'white'
      }"
    >
      <img
        src="assets/doctor.svg"
        alt="Doctor Icon"
        style="width: 20px; height: 20px; margin-right: 5px"
      />
    </p-button>
  </div>
}

@if (!fullData) {
  <div class="bg-[#f2f6fc] rounded-l-lg h-[70vh] lg:p-4 p-4 rounded-lg">
    <div role="alert" class="alert alert-success">
      <span class="text-white">
        Please search for a drug to see the results.</span
      >
    </div>
  </div>
}

<!--modal for drug information-->
<p-dialog
  header="Drug Information"
  [modal]="true"
  [(visible)]="drugDialogVisible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="stats shadow">
    <div class="stat">
      <div class="stat-figure text-primary"></div>
      <div class="stat-title">Drug Name:</div>
      <div class="stat-value text-emerald-500">
        {{ medicineInfoData.drugName }}
      </div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary"></div>
      <div class="stat-title">Generic Name:</div>
      <div class="stat-value text-primary">
        {{ medicineInfoData.generic }}
      </div>
      <div class="stat-desc">
        <div class="stat-desc"></div>
        <div class="stat-desc text-md font-bold">
          Formulation: {{ medicineInfoData.drugFormation }}
        </div>
        <div class="stat-desc text-md font-bold">
          Strength: {{ medicineInfoData.drugStrength }}
        </div>
        <div class="stat-desc text-md font-bold">
          Vendor: {{ medicineInfoData.vendor }}
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!--modal for doctor information-->
<p-dialog
  header="Doctor Information"
  [modal]="true"
  [(visible)]="doctorDialogVisible"
  [style]="{ width: '50rem', height: '40rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
  (onMaximize)="handleMaximizeEvent($event)"
>
  <div class="overflow-x-auto">
    <p class="text-lg font-bold mb-4">Search by Division :</p>
    <div class="flex flex-wrap gap-2 mb-4">
      <div
        class="cursor-pointer px-4 py-2 rounded-full"
        *ngFor="let division of divisions"
        (click)="filterByDivision(division)"
        [ngClass]="{
          'bg-[#00A96E] text-white': selectedDivision === division,
          'bg-gray-200 text-black': selectedDivision !== division
        }"
      >
        {{ division }}
      </div>
      <div
        class="cursor-pointer px-4 py-2 rounded-full"
        (click)="filterByDivision('All')"
        [ngClass]="{
          'bg-[#00A96E] text-white': selectedDivision === 'All',
          'bg-gray-200 text-black': selectedDivision !== 'All'
        }"
      >
        All
      </div>
    </div>
    <p class="text-lg font-bold mb-4">
      <span role="alert" class="alert">
        <span>Total Doctors: {{ filteredDoctorData.length }}</span>
      </span>
    </p>
    <div
      [style.max-height]="isDialogMaximized ? 'none' : '300px'"
      [style.overflow-y]="isDialogMaximized ? 'visible' : 'auto'"
    >
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>BMDC</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr *ngFor="let doctor of filteredDoctorData">
            <th></th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/028/251/987/original/doctor-3d-icon-illustration-free-png.png"
                      alt="Doctor Icon"
                    />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{ doctor.doctorName }}</div>
                  <div class="text-sm text-blue-500">
                    {{ doctor.divisionName }}
                  </div>
                </div>
              </div>
            </td>
            <td>
              {{ doctor.doctorBMDC }}
            </td>
            <th></th>
          </tr>
        </tbody>
        <!-- foot -->
        <tfoot>
          <tr>
            <th></th>

            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</p-dialog>
