<div class="border-2 w-ful bg-[#E4E4E4] h-[700px]">
  <div class="flex">
    <div class="text-5xl font-bold w-1/2 border-sky-500 mx-auto p-28 m-28">
      <div>
        Simplify with our
        <span class="text-[#378314]">map</span> app.<br /><span
          class="text-[#547AFF]"
          >Locate</span
        >
        & <span class="text-[#FA3F6C]">track</span><br />
        prescriptions effortlessly.
      </div>
      <div class="mt-5 ml-28">
        <button class="btn bg-[#B7B3B3] text-2xl border-none w-72 mx-auto">
          Get Started
        </button>
      </div>
    </div>
    <div class="mx-auto m-8">
      <img
        ngSrc="../../../../assets/banner-logo.png"
        height="493"
        width="636"
        alt="banner-logo"
      />
    </div>
  </div>
</div>
