<div
  class="w-full bg-[#E4E4E4] lg:h-[700px] md:h-[500px] h-[400px] border-none bg-no-repeat"
  style="
    background-image: url(../../../../assets/banner-bg.jpg);
    background-size: cover;
  "
>
  <div class="hero-overlay bg-opacity-75">
    <div class="flex lg:flex-row flex-col">
      <div
        class="lg:text-5xl md:text-4xl text-2xl font-bold lg:w-1/2 lg:mx-auto md:ml-36 ml-16 lg:p-28 lg:m-28"
      >
        <div
          class="lg:w-full md:w-full w-[310px] text-white"
          data-aos="fade-right"
        >
          Simplify with our
          <span class="text-[#378314]">map</span> app.<br /><span
            class="text-[#547AFF]"
            >Locate</span
          >
          & <span class="text-[#FA3F6C]">track</span><br />
          prescriptions effortlessly.
        </div>
        <div class="mt-5 lg:ml-28 lg:mr-0 md:mr-0 mr-20 w-[300px]">
          <button
            class="btn bg-[#B7B3B3] text-2xl border-none w-72 mx-auto"
            routerLink="/dashboard/map"
          >
            Get Started
          </button>
        </div>
      </div>
      <div class="mx-auto lg:m-8 lg:mr-32 md:mr-56 mr-28" data-aos="fade-left">
        <img
          src="../../../../assets/banner-logo.png"
          class="lg:w-[636px] lg:h-[493px] md:h-[300px] md:w-[350px] w-[236px]"
          alt="banner-logo"
        />
      </div>
    </div>
  </div>
</div>
